body {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  margin: 0;
  background-color: black; /* Set the background color to black */
}

.container {
  padding: 30px;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
  /*color: #5cfafc; /* Updated color for the heading */
  color: #ffff00; /* Updated color for the heading */
  /* Add glossy and shiny effect with thin black outline */
  /*text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(92, 250, 252, 0.8);*/
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}

h2 {
  font-size: 28px;
  margin-bottom: 30px;
  /*color: #5cfafc; /* Updated color for the heading */
  color: #ffff00; /* Updated color for the heading */
  /* Add glossy and shiny effect with thin black outline */
  /*text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(92, 250, 252, 0.8);*/
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}

.buttons {
  margin: 20px;
}

button {
  font-size: 20px;
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  /*background-color: #a7fcfd; /* Updated color for the buttons */
  background-color: #ffc34d; /* Updated color for the buttons */
  
  color: #000; /* Black font color */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  /*background-color: #cbfcfd; /* Lighter shade on hover for a soft effect */
  background-color: #ffaa00; /* Lighter shade on hover for a soft effect */
  
}

.popup {
  display: none;
  /* Remove styles that create the box */
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  /*color: #5cfafc; /* Updated color for the popup text */
  color: #ffff00; /* Updated color for the popup text */
}

/* Add a smooth fade-in animation for the popup */
.popup.fade-in {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Additional CSS to place the GIF at the bottom center */
body::before {
  content: '';
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px; /* Set desired width of the GIF */
  height: 300px; /* Set desired height of the GIF */
  background: url('watermelon_c1.gif') no-repeat center center;
  background-size: contain;
  z-index: -1; /* Ensure the GIF is behind the content */
}
