body {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  margin: 0;
  background: url('upscaled_img1.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  padding: 30px;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #5cfafc;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(92, 250, 252, 0.8);
  visibility: hidden; /* Hide the text initially */
  line-height: 1.5; /* Ensure spacing between lines */
  display: inline-block; /* Align the content as inline-block for center alignment */
  text-align: center; /* Ensure center alignment of the two lines */
}

.buttons {
  margin: 20px;
}

button {
  font-size: 20px;
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  background-color: #a7fcfd;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0; /* Initially invisible */
}

button:hover {
  background-color: #cbfcfd;
}

.popup {
  display: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: #5cfafc;
}

.word {
  opacity: 0; /* Initially invisible */
  margin-right: 10px; /* Add spacing between words */
}

.dust-animation {
  animation: dustEffect 1s ease forwards;
}

@keyframes dustEffect {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
